$white: #FEFEFE;
$black: #000000;
$grey: #B9B9B9;
$dark: #4E4E4E;
$lightDark: #7C7C7C;
$littleDark: #5C5C5C;
$btnBlack : rgba(0, 0, 0, 0.0001);
$menuGrey: #F5F5F5;
$hoverMenu: #E5E5E5;
$menuActive:#57A4A4;



